
.col button {
    margin: 0 auto;
    text-align: center;
    background-color: #0000b5;
    color: white;
    border: 3px solid white;
}

button, input, optgroup, select, textarea {
    margin-top: 20px;
}

.col {
    background-color: #5a7aff;
    color: white;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.col-4 {
    background-color: #b9d9ff
}

#weather_icon {
/*    background-image: url(/img/cloudy.png);*/
    height: 200px;
    
}

