
.red {
        background-color: red;
        padding: 20px 0px;
		text-align: center;
		margin-bottom: 4px;
}
.blue {
        background-color: blue;
        padding: 20px 0px;
		text-align: center;
		margin-bottom: 4px;

}


.green {
        background-color: green;
        padding: 20px 0px;
		text-align: center;
		margin-bottom: 4px;

}


.aqua {
        background-color: aqua;
        padding: 20px 0px;
		text-align: center;
		margin-bottom: 4px;

}

.orange {
        background-color: orange;
        padding: 20px 0px;
		text-align: center;
		margin-bottom: 4px;

}
